.log-feed {
  position: fixed;
  bottom: 0;
  left: 0;
  /* width: 100vw; */
  height: 5vh;
  background-color: rgba(12, 16, 34, 0.4); /* transparent background */
  color: #b0caff80;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  padding: 1rem 2rem;
  overflow-y: auto;
  /* pointer-events: none; */
  z-index: 1; /* keep it under main content */
  mix-blend-mode: lighten; /* for a CRT vibe */
  }
  
  .log-line {
    opacity: 0.8;
    white-space: pre;
  }
  