   .content {
    margin: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    position: relative;
  }
  
  .content_header {
    font-weight: 600;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .content_header-date {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Courier', monospace;
    font-size: 1.1em;
  
  
  }
  
  .content_header-title {
    font-family: 'Courier', monospace;
    border: none;
    color: #fff;
    padding: 0;
    margin: 0;
  }
  
.content_box {
  border: 3px solid white;
  width: 100%;
  height: 86vh;
  overflow-y: scroll;
  background-color: transparent;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 12px 12px; /* Unified grid size */
  position: relative;
  box-sizing: border-box;
}

.content_box::before {
  content: '';
  position: fixed;
  left: 1.5rem;
  right: 1.5rem;
  height: 8px;
  background-image: repeating-linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 1px,
    transparent 2px,
    transparent 36px
  );
  z-index: 1;
  pointer-events: none;
}

.content_box::after {
  content: '';
  position: fixed;
  top: 3.1rem;
  bottom: calc(100vh - 89vh);
  width: 8px;
  background-image: repeating-linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 1px,
    transparent 2px,
    transparent 36px
  );
  z-index: 1;
  pointer-events: none;
}

  
.content_sketch-container {
  display: grid;
  gap: 1rem;
  margin: 2rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}


  
  
  
  /* 
  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
  }
  
  .scene-container {
    width: 200px;
    height: 200px;
  }
  
  .description {
    margin-top: 10px;
    color: #555;
    font-size: 16px;
    text-align: center;
  }
   */
  
   .content_footnote {
    font-size: .9em;
    position: absolute;
    right: 0.8rem;
    bottom: 0.8rem;
    border: 3px rgba(255, 255, 255, 0.895) solid;
    background-color: #13173A;
    width: 14rem;
    height: 8rem;
    display: grid;
    grid-template-rows: auto auto auto; /* Three rows with automatic heights */
    gap: 10px; /* Space between rows and columns */
    z-index: 999;
    padding: .7rem;
    font-family: 'Courier New', monospace;
  }
  
  /* For screens between 768px and 1023px (e.g., tablets) */
  @media (max-width: 768px){
    .content_footnote {
      width: 15rem;
      height: 8rem;
      right: 1rem;
      bottom: 1rem;
    }
  }
  
  /* For screens smaller than 768px (e.g., mobile phones) */
  @media (max-width: 767px) {
    .content_footnote {
      width: 10rem;
      height: 6rem;
      right: 0.5rem;
      bottom: 0.5rem;
    }
  }
  
  
  /* .row1 {
    grid-column: span 1;
  }
  
  .row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .row3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    gap: 10px; 
  }
  
  .col4 {

    background-color: #f0f0f0; 
  }
  
   */

.content_footnote .content_footnote_center{
  color: #4f5374;
}

.content_footnote_footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}